/* cabeçalho */
header{
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
/* imagem - logo do cabeçalho */
.logo_image{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px; 
}
/* espaço da logo*/
.container_logo {
    display: flex;
    align-items: center;
}
/* texto "HACKER ROXO"*/
.logo_text{
    font-size: 20px;
    margin-left: 20px;
    color: white;
}
/* LINHA DO MENU */
.menu li{
    display: inline-block;
    margin: 0 10px;
}
/* CONTEUDO DO MENU */
.menu li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
}
/* imagem background */
.image_beginning img{
    width: 100%;
    height: 100%; /* Ou qualquer largura desejada */
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5; /* Ajuste o valor conforme desejado */     
}

/* Estilos para o footer */
footer {
    width: 100%;
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute; /* Posiciona o footer na parte inferior da página */
    bottom: 0; /* Alinha o footer à parte inferior da página */
}

footer p {
    margin: 0;
}
